<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BoardGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BoardGame.Properties.Settings.BoardgameConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Boardgame;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BoardGame.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorRed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorGreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorBlue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShapeSquare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShapeCircle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShapeTriangle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DifLevel" serializeAs="String">
                <value>Easy</value>
            </setting>
            <setting name="BorderX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BorderY" serializeAs="String">
                <value>0</value>
            </setting>
        </BoardGame.Properties.Settings>
    </userSettings>
</configuration>